.contact {
  padding: 30px;
  text-align: center;
}

.product-info {
  background: #fff;
  padding: 15px;
  margin: 20px auto;
  width: 250px;
  border-radius: 8px;
}

.contact-box {
  margin-top: 20px;
  background: #f4f4f4;
  padding: 15px;
  border-radius: 8px;
  display: inline-block;
}